td {

   border: 1px solid black;
    border-collapse: collapse;
}

table {

border-collapse: collapse;
     width: 700px;
    height: 700px;

}
body {
      margin-left: 25%;
     
}
tr:nth-child(3)>td:nth-child(3),
tr:nth-child(3)>td:nth-child(1),
tr:nth-child(2)>td:nth-child(2),
tr:nth-child(7)>td:nth-child(1),
tr:nth-child(4)>td:nth-child(1),
tr:nth-child(4)>td:nth-child(3),
tr:nth-child(5)>td:nth-child(2)
{
    border-right:3px solid black;
}
tr:nth-child(1)>td:nth-child(1),
tr:nth-child(3)>td:nth-child(2),
tr:nth-child(2)>td:nth-child(2),
tr:nth-child(6)>td:nth-child(1),
tr:nth-child(7)>td:nth-child(1),
tr:nth-child(8)>td:nth-child(1)
{
    background-color: aqua;
}
tr:nth-child(2)>td:nth-child(1),
tr:nth-child(3)>td:nth-child(1),
tr:nth-child(4)>td:nth-child(1),
tr:nth-child(4)>td:nth-child(4),
tr:nth-child(3)>td:nth-child(3),
tr:nth-child(2)>td:nth-child(3)
{
    background-color: beige;
}
tr:nth-child(4)>td:nth-child(2)
{
    background-color: red;
}
tr:nth-child(4)>td:nth-child(3)
{
    background-color: blue;
}
tr:nth-child(5)>td:nth-child(1)
{
    background-color: green;
}
tr:nth-child(5)>td:nth-child(2)
{
    background-color: yellow;
}
